<% grid.each do |letter|%>
  <li style="display: inline-block;"> <%= letter %></li>
<% end %>

<form action="/score">
  <label for="attempt">Enter your answer here</label>
  <input type="text" placeholder="enter your answer" id="attempt" name="attempt">
  <input type="submit">
</form>
